body{
    background:url(../img/bj.jpg);
    background-size: cover;
}
.clear{
    clear:both;
}
h1{
    color:#fff;
    font-size: 50px;
    font-weight: 700;
    padding-top: 50px;
    padding-bottom: 30px;
    font-family: 华文行楷;                                               ;
}
.log{
    text-align: center;
    padding-bottom: 50px;
}
.log a{
    font-size: 25px;
    color:#fff;
}
.thumbnail .caption{
    text-align: center;
}
h2{
    color:#fff;
    background:red;
    width: 300px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    margin-bottom: 30px;
    font-family:迷你简雪峰;
    border-radius: 15px;
}

h3{
    padding:10px 0 10px 0;
    font-weight: 600;
    font-family: 幼圆;
    color:#000;
    cursor: progress;
}
.thumbnail .caption p{
    color:#676060;
    font-size: 14px;
    padding-bottom: 10px;
}
.btn-default{
    color:#fff;
    background:#62adf1;
}
.thumbnail{
    opacity: 0.8;
    height: 458px;
}
.thumbnail:hover{
    border:1px solid red;
}
.col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9{
    margin-bottom: 40px;
    padding-left: 0;
}