<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<title>Document</title>
	<link rel="stylesheet" href="css/style.css" />
</head>
<body>
	<div id="app">
		<div id="app1">
			<ul>
				<header-li v-for="tit in tits" v-bind="tit">{{tit}}</header-li>
			</ul>	
		</div>
		<div id="app2">
			<header-log baidu="百度一下" imgsrc="img/logo_03.gif"></header-log>	
		</div>
		<div id="app3">
			<ul>
				<small-li v-for="sli in slis" v-bind="sli">{{sli}}</small-li>
			</ul>
		</div>
		<div id="app4">
			<ul>
				<main-li v-for="list in lists" v-bind="list">{{list}}</main-li>
			</ul>
		</div>
	</div>
	<script src="js/vue.js"></script>
	<script src="js/script.js"></script>
</body>
</html>