*{
	margin:0;
	padding:0
}
li{
	list-style: none;
}
body{
	background:#ccc;
}
#app{
	width: 500px;
	margin:0 auto;
	background:#fff;
	padding:20px;
}
#app1{
	background:#fff;
	height: 60px;
}
#app1::after{
	display: table;
	content:"";
	clear:both;
}
#app1 li{
	float: left;
	padding: 14px 20px;
	font-size: 20px;
	list-style:none;
	
}
#app1 a{
	text-decoration: none;
	color:#000
}
#app1 li:hover a{
	color:#00BFFF;
}
#app1 li:hover{
	border-bottom: 2px solid deepskyblue;
}
#app2 div .log{
	text-align: center;
	padding-bottom:24px;
}
#app2::after{
	display: table;
	content:"";
	clear:both;
}
#app2 input{
	width: 370px;
	height:55px;
	float: left;	
}
#app2 .btn{
	height:55px;
	background:deepskyblue;
	float: left;
	width:120px;
	text-align: center;
	line-height: 55px;
	color:#fff;
}
#app3 ul{
	text-align: center;
}
#app3 ul::after{
	display: table;
	content:"";
	clear:both;
}
#app3 li{
	float: left;
	padding:25px;
}
#app img{
	padding-bottom:15px;
}
#app a{
	color:#999;
	text-decoration: none;
}
#app4 h2{
	font-size: 24px;
	padding-bottom:20px;
	padding-top:30px;
}
#app4 span{
	color:#999;
	font-size: 14px;
	margin-right:10px;
}
#app4 a{
	color:red;
	padding:5px;
	border-radius: 5px;
	border:1px solid red;
}
#app4 img{
	margin-bottom: 14px;
}

