*{margin:0;padding:0;
font-family: 宋体;}
a{text-decoration: none;}
li{list-style: none;}
.clear{clear:both;}

/* -------------header--------- */

#header-bg{
	width: 100%;
	overflow: hidden;
}
#top-bg{
	width: 100%;
	overflow: hidden;
	background:#fff;
	padding-bottom: 10px;
}
#top{
	width: 984px;
	margin:0 auto;
	padding:10px 0 10px 0;
}
.top-left{
	float: left;
}
.top-left p{
	float: left;
	color:#9a9d8a;
	font-size: 12px;
	margin-right: 5px;
	margin-top: 11px;
}
.top-center{
	margin-left: 28px;
	margin-top: 10px;
	float: left;
}
.top-center p{
	float: left;
	font-size: 12px;
	color:#9a9d8a;
	margin-right: 5px;
}
.top-right{
	float: right;
	font-size: 12px;
	margin-top: 3px;
}
.top-right label{
	color:#9a9d8a;
}
.top-right select{
	width: 115px;
	height: 18px;
}
#center-bg{
	width: 100%;
	overflow: hidden;
	background:#bd282a;
}
#center{
	width: 985px;
	margin:0 auto;
}
.logo{
	float: left;
}
.nav{
	float: right;
}
.nav ul{
	margin-top: 6px;
}
.nav li{
	width: 89px;
	height: 80px;
	text-align: center;
	float: left;
}
.nav p{
	font-size: 14px;
	color:#000;
	line-height: 40px;
}
.nav li:last-child{
	background:#fff;
}
.nav li:hover{
	background:#fff;
}
#banner{
	width: 100%;
}
#banner #pic{
	width: 1920px;
	height: 480px;
	overflow: hidden;
	position:relative;
}
#banner #img{
	width: 6000px;
	height: 480px;
}
#img img{
	float: left;
}
#banner ul{
	position: absolute;
	top:580px;
	left:600px;
}
#banner ul li{
	width: 15px;
	height: 15px;
	background:#000;
	border-radius: 50%;
	float: left;
	margin-left: 5px;
}
#banner .dv1{
	background:red;
}


/* -----------------main------------------ */

#main-bg{
	width: 100%;
	overflow: hidden;
	background:#fff;
}
#mainbar{
	width: 1000px;
	margin:0 auto;
	margin-top: 32px;
}
#mainbar .text p{
	color:#fe0000;
	float: left;
}
#mainbar .text a{
	color:#fe0000;
	font-size: 18px;
	border-bottom: 1px solid #fe0000;
	float: left;
}
#mainbar .text .p1{
	float: left;
	font-size: 12px;
	margin-top:6px;
	margin-left: 20px;
}
#mainbar .text .p2{
	float: right;
	font-size: 18px;
	color:#000;
}
#mainbar li{
	height:159px;
	width:238px;
	overflow:hidden;
	float:left;
	margin-right:12px;
	margin-top:5px;
}
#mainbar ul li a{
	background:url(../images/BG_03.png)repeat-x 0 -159px;
	width:238px;
	height:159px;
	display:block;
}
#mainbar span{
	width:238px;
	height:159px;
	display:block;
	background:url(../images/BG_03.png)repeat-x;
}
#mainbar .title p{
	height: 38px;
	width: 238px;
	text-align: center;
	line-height: 38px;
	background:#f2f2f2;
	font-size: 16px;
	color:#000;
	float:left;
	margin-right:12px;
}
#main{
	width: 1020px;
	margin:0 auto;
	margin-top: 40px;
}
.main-left{
	margin-left: 20px;
	width: 336px;
	float: left;
}
#main .top h1{
	font-size: 18px;
	float: left;
	color:#fd0503;
}
#main .top h2{
	font-size: 10px;
	margin-left: 20px;
	float: left;
	color:#fd0503;
	margin-top: 3px;
}
#main .top h2 a{

} 
#main .top p{
	margin-left: 12px;
	font-size: 12px;
	color:#000;
	float: left;
	margin-top: 3px;
}
.all{
	padding-top: 12px;
	border-top: 1px solid #dddcdc;
}
.new2{
	display:none;
	width:338px;
	font-size: 12px;
}
.new3{
	display:none;
	width:338px;
	font-size: 12px;
}
.new4{
	display:none;
	width:338px;
	font-size: 12px;
}
.main-left img{
	float: left;
	margin-top: 5px;
}
.main-left p{
	font-size: 14px;
}
.no{
	width:50px;
	height:16px;
	background:pink;
}
.main-center{
	float: left;
	margin-left: 25px;
}
.main-center img{
	padding-top: 12px;
	border-top: 1px solid #dddcdc;
}
.main-right{
	float: left;
	margin-left: 17px;
}
.no1{
	padding-top: 12px;
	border-top: 1px solid #dddcdc;
}
.main-right li{
	float: left;
	width: 166px;
	height: 84px;
	background:#e6e6e6;
	margin-top: 2px;
	margin-left: 4px;
	line-height: 84px;
	text-align: center;
}

/* --------------footer-------------- */
 #footer-bg{
 	width: 100%;
 	background:url(../images/2017-04-11_201351_03.png);
 	overflow: hidden;
 	margin-top: 297px;
 	height: 307px;
 }
 #footer{
 	width: 1004px;
 	margin:0 auto;
 }
